.profile-main {
  display: grid;
  grid-template-columns: 1fr vw(429px);
  grid-template-rows: vw(40px) vw(143px) 1fr;
  &__music-list {
    padding-top: vw(36px);
    border-right: 1px solid $WHITE_FF;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }
}
