.profile-main {
  display: grid;
  grid-template-columns: 1fr vw(429px);
  grid-template-rows: vw(40px) vw(143px) 1fr;
  &__music-list {
    padding-top: vw(36px);
    border-right: 1px solid $WHITE_FF;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }
  &__right-container {
    grid-row: 3/ 4;
    grid-column: 2/3;
  }
}

@media screen and(max-width :$TABLET_CRITERIA) {
  .profile-main {
    grid-template-columns: 1fr;
    grid-template-rows: vw-t(135px) vw-t(63px) min-content 1fr;
    &__music-list {
      padding-top: 0;
      padding-bottom: vw-t(52px);
      border-right: 0;
      grid-row: 3 / 4;
      border-bottom: 1px solid $WHITE_FF;
    }
    &__right-container {
      grid-row: 4/ 5;
      grid-column: 1/1;
    }
  }
}
