.homeContainer {
  color: white;
  height: 100vh;
  background: url(../../assets/images/background.png) no-repeat center center fixed;
  background-size: cover;
  .btn:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  .headerContainer{
    display: flex;
    flex-direction: row;
    padding: 4vh 3vh 0vh 3vh;
    .logoTitle{
      font-size: 5vh;
      flex: 8;
    }
    .signUpBtn, .signInBtn{
      font-size: 4vh;
      flex: 1;
      right: 15vw;
    }
  }
  
  .mainContainer{
    position: relative;
    left: 45vw;
    top:30vh;
    .logoTitle{
      position: absolute;
      font-size: 12vh
    }
    .logoImg{
      position: absolute;
      width: 40vw;
      height: 10vh;
      top: 6vh;
    }
    .signUpBtn{
      position: absolute;
      background-color: black;
      border-radius: 1vmin;
      border: 0.3rem solid white;
      font-size: 5vh;
      top: 15vh;
      width: 20vw;
      height: 8vh;
      display: table;
      p{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}