.mini-track {
  width: vw(394px); //78+368+48
  height: vh(78px);
  display: flex;
  align-items: center;
  margin-bottom: vh(32px);
  &__img {
    width: vw(78px);
    height: vh(78px);
    margin-right: vw(10px);
  }
  .mini-track-info {
    &__fix {
      font-size: vh(14px);
      margin-bottom: vh(5px);
      opacity: 0.5;
    }
    &__title {
      font-size: vh(16px);
      font-weight: 500;
      margin-bottom: vh(15px);
    }
    &__icon-container {
      white-space: nowrap;
    }
    &__icon-content {
      display: inline-block;
      margin-right: vw(18px);
    }
    &__icon {
      width: vw(18px);
      height: vh(18px);
      margin-right: vw(10px);
    }
  }

  &__play-btn {
    width: vw(48px);
    height: vw(48px);
    border-radius: 50%;
    border: none;
    background: #2f2f2f;
    margin-left: auto;
    margin-right: vw(15px);
  }
}
