.track-bar-list {
  .more-track-bar {
    background-color: $BLACK_1D;
    &__content {
      color: $WHITE_FF;
      opacity: 0.5;
    }
  }
}

@media screen and(max-width:$TABLET_CRITERIA) {
  .track-bar-list {
    .more-track-bar {
      height: vw-t(39px);
    }
  }
}
@media screen and(max-width:$PHONE_CRITERIA) {
  .track-bar-list {
    .more-track-bar {
      height: vw-p(28px);
      &__content {
        font-size: vw-p(12px);
      }
    }
  }
}
