.relate-track-list {
  margin-top: vw(28px);
  margin-left: vw(28px);
  margin-bottom: vw(49px);
  margin-right: vw(23px);
  &-header {
    margin-bottom: vw(36px);
    &__title {
      white-space: nowrap;
    }
    &__detail-btn {
      margin-left: auto;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: $TABLET_CRITERIA) {
  .relate-track-list {
    margin: vw-t(73px) vw-t(41px);
    &-header {
      margin-bottom: vw-t(36px);
    }
  }
}

@media screen and (max-width: $PHONE_CRITERIA) {
  .relate-track-list {
    margin: vw-p(50px) vw-p(20px);
    &-header {
      margin-bottom: vw-p(20px);
      &__title {
        font-size: vw-p(16px);
      }
    }
  }
}
