.relate-track-list {
  margin-top: vw(28px);
  margin-left: vw(28px);
  margin-bottom: vw(49px);
  &__header {
    margin-bottom: vw(36px);
  }
  &__title {
    margin-right: vw(234px);
  }
}

@media screen and (max-width: $TABLET_CRITERIA) {
  .relate-track-list {
    margin: vw-t(73px) vw-t(41px);
    &__header {
      margin-bottom: vw-t(36px);
    }
    &__title {
      margin-right: vw-t(538px);
    }
  }
}
