.inline-play-list {
  width: vw(872px);
  height: vw(297px);
  margin-bottom: vw(40px);
  &__album-img {
    width: vw(206px);
    height: vw(194px);
    margin-right: vw(30px);
  }
  &__info {
    flex: 1;
    margin-right: vw(16px);
  }
  &__uploader {
    opacity: 0.5;
  }
  &__icons-container {
    margin-left: auto;
  }
  &__icon-item {
    margin-left: vw(26px);
  }
  &__icon-img {
    width: vw(32px);
    height: vw(32px);
  }
  &__name {
    margin-bottom: vw(15px);
  }
}
