.search-bar {
  .input-wrapper {
    border-bottom: 2px solid #fff;
    margin-right: get-vw(14.41px);
    input {
      caret-color: white;
      color: #fff;
    }
  }
  .search-icon {
    width: get-vw(22.59px);
  }
}
