.main-screen {
  background-color: $BLACK_17;
  min-height: 100vh;

  .main-container {
    width: $MAIN_GRID_WIDTH;
    margin: 0 auto;
  }

  @media screen and (max-width: 764px) {
    .main-container {
      width: 100%;
    }
  }
}
