.music-comment {
  margin-bottom: vw(30px);
  &__img {
    margin-right: vw(25px);
    width: vw(52px);
    height: vw(52px);

    border-radius: 50%;
  }
  &-main {
    width: vw(500px);
    &__id {
      margin-bottom: vw(9px);
    }
  }
  &__date {
    margin-left: auto;
  }
}

@media screen and (max-width: $TABLET_CRITERIA) {
  .music-comment {
    // max-width: vw-t(472px);
    margin-bottom: vw-t(33px);
    &__img {
      margin-right: vw-t(40px);
      width: vw-t(52px);
      height: vw-t(52px);
    }
    &-main {
      width: vw-t(342px);
      &__id {
        margin-bottom: vw-t(9px);
      }
    }
  }
}

@media screen and (max-width: $PHONE_CRITERIA) {
  .music-comment {
    margin-bottom: vw-p(40px);
    &__img {
      margin-right: vw-p(9px);
      width: vw-p(52px);
      height: vw-p(52px);
    }
    &-main {
      width: vw-p(255px);
      &__id {
        margin-bottom: vw-p(2px);
      }
    }
  }
}
