@import url("../Modal.scss");
.signin-dimmer {
  .modal-container {
    padding: vw(38px) vw(47px);
    &__login-title {
      margin-bottom: vw(61px);
    }
    .login-form {
      &__email-input {
        margin-bottom: vw(23px);
      }
      &__password-input {
        margin-bottom: vw(11px);
      }
      &__message {
        color: $RED_FF1D;
        margin-bottom: vw(15px);
      }
    }
    .find-and-signup-container {
      &__find-account-btn {
        color: $GRAY_96;
        text-align: start;
      }
      &__signup-btn {
        color: $GRAY_96;
        text-align: end;
      }
    }

    &__or {
      margin-bottom: vw(47px);
    }

    &__or::before,
    &__or::after {
      content: "";
      flex-grow: 1;
      background: $BLACK_00;
      height: 0.05vw;
      margin: 0vw vw(5px);
    }

    .simple-login-form {
      &__google-login-btn {
        margin-top: vw(9px);
        border: 0.1vw solid $GRAY_C2;
        margin-bottom: vw(20px);
      }
      &__kakao-login-btn {
        background: $YELLOW_FFC9;
      }
    }
  }
}
