.profile-nav {
  .profile-nav-left {
    margin-bottom: vh(15px);
    margin-left: vw(10px);
    &__btn {
      margin-right: vw(65px);
      opacity: 0.5;
    }
  }
  .profile-nav-right {
    margin-left: auto;
    margin-right: vw(29px);
    &__btn {
      margin-left: vw(66px);
    }
  }
  .btn--active {
    opacity: 1;
  }
}
