.likes-track {
  width: vw(877px);
  height: vw(194px);
  margin-bottom: vw(30px);
  &__album-img {
    width: vw(206px);
    height: vw(194px);
    margin-right: vw(34px);
  }
  &__info {
    flex: 1;
    .likes-track-header {
      margin-bottom: vw(5px);
      &__uploader {
        opacity: 0.5;
      }
      &__icons-container {
        margin-left: auto;
      }
      &__icon {
        margin-left: vw(31px);
        &-btn-img {
          width: vw(24px);
          height: vw(24px);
        }
      }
    }
  }

  .likes-track-title {
    &__name {
      margin-right: vw(59px);
    }
    margin-bottom: vw(34px);
  }
  .likes-track-main {
    height: vw(85px);
    &__play-btn {
      width: vw(52px);
      height: vw(52px);
      border-radius: 50%;
      background-color: $BLUE_2A6F;
      margin-right: vw(70px);
      margin-left: vw(15px);
    }
    &__play-btn-img {
      width: vw(20px); // fix
      height: vw(20px); // fix
    }
    &__lyrics {
      height: 100%;
      line-height: vw(30px); //22+8
      white-space: pre-line;
      overflow: hidden;
    }
    &__date {
      margin-top: auto;
      margin-left: auto;
      opacity: 0.5;
    }
  }
}
@media screen and (max-width: $TABLET_CRITERIA) {
  .likes-track {
    margin: vw-t(40px);
    width: vw-t(684px);
    height: vw-t(141px);
    &__album-img {
      width: vw-t(150px);
      height: vw-t(141px);
      margin-right: vw-t(25px);
    }
    .likes-track-header {
      margin-bottom: vw-t(3px);
      &__icon {
        margin-left: vw-t(26px);
        &-btn-img {
          width: vw-t(32px);
          height: vw-t(32px);
        }
      }
    }
    .likes-track-title {
      &__name {
        margin-right: vw-t(16px);
        font-size: vw-t(18px);
      }
      margin-bottom: vw-t(19px);
    }
    .likes-track-main {
      height: vw-t(60px);
      &__play-btn {
        width: vw-t(37px);
        height: vw-t(37px);
        margin-right: vw-t(23px);
        margin-left: vw-t(15px);
      }
      &__play-btn-img {
        width: vw-t(15px); // fix
        height: vw-t(15px); // fix
      }
      &__lyrics {
        line-height: vw-t(20px);
      }
    }
  }
}
@media screen and (max-width: $PHONE_CRITERIA) {
  .likes-track {
    margin: vw-p(30px) vw-p(22px);
    height: vw-p(104px);
    &__album-img {
      width: vw-p(104px);
      height: vw-p(97px);
      margin-right: vw-p(17px);
    }
    .likes-track-header {
      margin-bottom: 0;
      &__uploader {
        font-size: vw-p(11px);
      }
      &__icon {
        margin-left: vw-p(15px);
        &-btn-img {
          width: vw-p(24px);
          height: vw-p(24px);
        }
      }
    }
    .likes-track-title {
      transform: translateY(vw(-60px));
      &__name {
        margin-right: vw-p(8px);
      }
      margin-bottom: vw-p(5px);
    }
    .likes-track-main {
      &__play-btn {
        width: vw-p(33px);
        height: vw-p(33px);
        margin: 0;
      }
      &__play-btn-img {
        width: vw-p(15px); // fix
        height: vw-p(15px); // fix
      }
      &__date {
        font-size: vw-p(9.7px);
      }
    }
  }
}
