.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $TOP_BAR_HEIGHT;

  background-color: $BLACK_17;
  border-bottom: 1px solid $BORDER_COLOR;
  z-index: $TOP;

  &-container {
    width: $MAIN_GRID_WIDTH;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    color: #fff;
  }

  //
  .nav-list {
    &--item {
      & + .nav-list--item {
        margin-left: vw(31px);
      }

      &_ico {
        width: vw(22.59px);
      }
    }
  }
}

.empty-top-bar {
  height: $TOP_BAR_HEIGHT;
}
