.in-play-list {
  margin-top: vw(28px);
  margin-left: vw(28px);
  &__header {
    margin-bottom: vw(36px);
  }
  &__title {
    margin-right: vw(140px);
    white-space: nowrap;
  }
}
@media screen and(max-width:$TABLET_CRITERIA) {
  .in-play-list {
    margin: vw-t(28px) vw-t(41px);
    &__header {
      margin-bottom: vw-t(36px);
    }
    &__title {
      margin-right: vw-t(440px);
    }
  }
}

@media screen and(max-width:$PHONE_CRITERIA) {
  .in-play-list {
    margin: vw-p(28px) vw-p(20px);
    &__header {
      margin-bottom: vw-p(20px);
    }
    &__title {
      margin-right: 0;
    }
  }
}
