.in-play-list {
  margin: vw(28px);
  &__header {
    margin-bottom: vw(36px);
  }
  &__title {
    white-space: nowrap;
  }
  &__detail-btn {
    margin-left: auto;
    white-space: nowrap;
  }
}
@media screen and(max-width:$TABLET_CRITERIA) {
  .in-play-list {
    margin: vw-t(28px) vw-t(41px);
    &__header {
      margin-bottom: vw-t(36px);
    }
  }
}

@media screen and(max-width:$PHONE_CRITERIA) {
  .in-play-list {
    margin: vw-p(28px) vw-p(20px);
    &__header {
      margin-bottom: vw-p(20px);
    }
  }
}
