.recommendation-list {
  width: 100%;
  margin-top: vw(119px);

  &--title {
    margin-bottom: vw(31px);
  }

  .list-conatiner {
    overflow: scroll;
    .list-item {
      & + .list-item {
        margin-left: vw(11px);
      }
    }
  }

  @media screen and (max-width: $TABLET_CRITERIA) {
    &--title {
      padding-left: vw-t(40px);
    }

    .tablet-start-padding {
      display: block;
      margin-left: vw-t(40px);
    }
  }
}
