.main-swiper {
  height: vw(566px);
  .swiper-container {
    position: relative;
    width: vw(986px);
    aspect-ratio: calc(986 / 566);
    .swiper {
      height: 100%;
    }
  }
  .custom-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    &--image {
      width: vw(60px);
    }

    &.prev {
      left: vw(27px);
    }

    &.next {
      right: vw(27px);
    }
  }
}
