@import url("../Modal.scss");
.signup-dimmer {
  .modal-container {
    &__signup-title {
      margin-bottom: vh(13px);
    }
    &__sub-title {
      font-size: 1.7vh;
      color: #969696;
      margin-bottom: vh(33px);
    }
    &__id-input {
      margin-bottom: vh(42px);
    }
    //fix__
    &__id-duplication-check {
      position: relative;
      text-align: end;
      right: vw(32px);
      bottom: vh(74px);
      font-size: 1.5vh;
      color: #1472ff;
    }
    &__password-auth-input {
      margin-bottom: vh(6px);
    }
    &__password-comment {
      font-size: 1.3vh;
      color: #969696;
      margin-bottom: vh(15px);
    }
    &__email-input {
      margin-bottom: vh(50px);
    }
  }
}
