@import url("../Modal.scss");
.signup-dimmer {
  .modal-container {
    &__signup-title {
      margin-bottom: 1.7vh;
    }
    &__sub-title {
      font-size: 1.7vh;
      color: #969696;
      margin-bottom: 3.6vh;
    }
    &__id-input {
      margin-bottom: 3.9vh;
    }
    //fix__
    &__id-duplication-check {
      position: relative;
      text-align: end;
      right: 1vw;
      bottom: 6.8vh;
      font-size: 1.5vh;
      color: #1472ff;
    }
    &__password-auth-input {
      margin-bottom: 0.5vh;
    }
    &__password-comment {
      font-size: 1.3vh;
      color: #969696;
      margin-bottom: 1.3vh;
    }
    &__email-input {
      margin-bottom: 4.6vh;
    }
  }
}
