@import url("../Modal.scss");
.signup-dimmer {
  .modal-container {
    padding: vw(36px) vw(47px);
    &__signup-title {
      margin-bottom: vw(66px);
    }
    &__id-duplication-check {
      position: relative;
      text-align: end;
      right: vw(32px);
      top: vw(30px);
      color: $BLUE_1472;
    }
    &__password-auth-input {
      margin-bottom: vw(6px);
    }
    &__name-input {
      margin-top: vw(23px);
      margin-bottom: vw(19px);
    }
    &__email-input {
      margin-bottom: vw(50px);
    }
    &__waring-comment {
      color: $RED_FF1D;
      height: vw(30px);
      padding: vw(5px) vw(2px);
      margin-bottom: vw(2px);
    }
  }
}
