.profile-header {
  background: #1b1b1b;
  width: vw(1320px);
  height: vw(321px);
  margin-bottom: vw(48px);
  @mixin userBox {
    width: vw(207px);
    left: vw(334px);
    background: $BLACK_00;
    top: vw(169px);
  }
  @mixin uploadBtn {
    background: $BLACK_00;
    opacity: 0.8;
    // filter: blur(66px);
  }
  &__user-name {
    @include userBox();
    height: vw(55px);
    margin-bottom: vw(7px);
  }
  &__user-id {
    @include userBox();
    height: vw(44px);
  }
  &__header-img-upload-btn {
    @include uploadBtn();
    left: vw(1082px);
    top: vw(-80px);
    width: vw(209px);
    height: vw(33px);
  }
  &__user-img {
    width: vw(212px);
    height: vw(212px);
    background: $BLACK_0B;
    border: 0.4vh solid rgba(255, 255, 255, 0.49);
    border-radius: 50%;
    box-shadow: inset vw(12px) vw(10px) vw(25px) rgba(0, 0, 0, 0.72);
    left: vw(49px);
    bottom: vw(90px);
  }
  &__user-img-upload-btn {
    @include uploadBtn();
    width: vw(161px);
    height: vw(33px);
    left: vw(74px);
    bottom: vw(109px);
  }
  &__img-icon {
    height: vw(24px);
    width: vw(24px);
    margin-right: vw(14px);
  }
}
