.profile-header {
  background: $BLACK_1B;
  height: vw(321px);
  margin-bottom: vw(48px);
  @mixin userBox {
    width: vw(207px);
    left: vw(334px);
    background: $BLACK_00;
    top: vw(169px);
  }
  @mixin uploadBtn {
    background: $GARY_32;
    padding: vw(8px) vw(11px);
    p {
      white-space: nowrap;
    }
  }
  &__user-name {
    @include userBox();
    height: vw(55px);
    margin-bottom: vw(7px);
  }
  &__user-id {
    @include userBox();
    height: vw(44px);
  }
  &__header-img-upload-btn {
    @include uploadBtn();
    top: vw(-80px);

    height: vw(33px);

    margin-right: vw(29px);
    margin-left: auto;
  }
  &__user-img {
    width: vw(212px);
    height: vw(212px);
    background: $BLACK_0B;
    border: 4px solid rgba(255, 255, 255, 0.49);
    border-radius: 50%;
    box-shadow: inset vw(12px) vw(10px) vw(25px) rgba(0, 0, 0, 0.72);
    left: vw(49px);
    bottom: vw(90px);
  }
  &__user-img-upload-btn {
    @include uploadBtn();
    height: vw(33px);
    left: vw(74px);
    bottom: vw(109px);
  }
  &__img-icon {
    height: vw(24px);
    width: vw(24px);
    margin-right: vw(14px);
  }
}
@media screen and (max-width: $TABLET_CRITERIA) {
  .profile-header {
    height: vw-t(321px);
    margin-bottom: 0;
    @mixin uploadBtn {
      padding: vw-t(8px) vw-t(11px);
    }
    @mixin userBox {
      width: vw-t(207px);
      left: vw-t(334px);
      top: vw-t(169px);
    }
    &__user-name {
      @include userBox();
      height: vw-t(55px);
      margin-bottom: vw-t(7px);
    }
    &__user-id {
      @include userBox();
      height: vw-t(44px);
    }
    &__header-img-upload-btn {
      @include uploadBtn();
      top: vw-t(-80px);

      height: vw-t(33px);

      margin-right: vw-t(40px);
    }
    &__user-img {
      width: vw-t(212px);
      height: vw-t(212px);
      left: vw-t(49px);
      bottom: vw-t(90px);
    }
    &__user-img-upload-btn {
      @include uploadBtn();
      height: vw-t(33px);
      left: vw-t(74px);
      bottom: vw-t(109px);
    }
    &__img-icon {
      height: vw-t(24px);
      width: vw-t(24px);
      margin-right: vw-t(14px);
    }
  }
}

@media screen and (max-width: $PHONE_CRITERIA) {
  .profile-header {
    .desktopTablet {
      display: none;
    }
    height: vw-p(229px);
    @mixin userBox {
      width: vw-p(148px);
      left: vw-p(222px);
      top: vw-p(120px);
    }
    &__user-name {
      @include userBox();
      height: vw-p(39px);
      margin-bottom: vw-p(5px);
    }
    &__user-id {
      @include userBox();
      height: vw-p(32px);
    }
    &__header-img-upload-btn {
      top: vw-p(-60px);
      height: vw-p(23px);

      margin-left: auto;
      margin-right: vw-p(20px);
    }
    &__user-img {
      width: vw-p(151px);
      height: vw-p(151px);
      left: vw-p(19px);
      bottom: vw-p(70px);
    }
    &__user-img-upload-btn {
      width: vw-p(115px);
      height: vw-p(23px);
      left: vw-p(36px);
      bottom: vw-p(85px);
      white-space: nowrap;
    }
    &__img-icon {
      height: vw-p(17px);
      width: vw-p(17px);
      margin-right: 0;
      & + p {
        margin-left: vw-p(15px);
      }
    }
  }
}
