.right-aside {
  position: fixed;

  top: $TOP_BAR_HEIGHT;
  right: calc((100% - $MAIN_GRID_WIDTH) / 2);

  width: $RIGHT_ASIDE_WIDTH;
  // height: 100%;

  background-color: $BLACK_18B;

  padding: vw(85px) vw(18px) vw(18px);

  &-title-wrapper {
    &--play-icon {
      width: vw(19px);
      margin-right: vw(5px);
    }
  }
}

.empty-aside {
  width: $RIGHT_ASIDE_WIDTH;
  height: 100vh;
}
