.user-about-container {
  margin-right: vw(60px);
  flex-direction: column;

  &__user-img {
    margin-bottom: vw(9px);

    width: vw(116px);
    height: vw(116px);

    border-radius: 50%;
  }

  &__user-name {
    max-width: vw(116px);

    margin-bottom: vw(24px);

    text-align: center;
  }

  .user-about-icon-list {
    justify-content: space-between;
    margin-bottom: vw(10px);

    max-width: vw(118px);
    &__item {
      max-width: vw(59px);
    }

    &__tracks-img,
    &__follower-img {
      width: vw(24px);
      height: vw(24px);
    }

    &__tracks,
    &__follower {
      font-size: vw(15px);
    }
  }

  &__follow-btn {
    width: vw(118px);
    height: vw(35px);

    background-color: $DARK_GRAY;
    border-radius: 5px;
  }
}

@media screen and (max-width: $TABLET_CRITERIA) {
  .user-about-container {
    margin-right: vw-t(55px);

    &__user-img {
      margin-bottom: vw-t(8px);

      width: vw-t(97px);
      height: vw-t(97px);
    }

    &__user-name {
      max-width: vw-t(97px);

      margin-bottom: vw-t(8px);
    }

    .user-about-icon-list {
      margin-bottom: vw-t(8px);

      max-width: vw-t(97px);
      &__item {
        max-width: vw-t(49px);
        // margin-right: vw-t(9px);
      }

      &__tracks-img,
      &__follower-img {
        margin-right: 0;

        width: vw-t(20px);
        height: vw-t(20px);
      }
    }

    &__tracks,
    &__follower {
      font-size: vw-t(12px);
    }

    &__follow-btn {
      margin: auto;

      width: vw-t(97px);
      height: vw-t(28px);
    }
  }
}

@media screen and (max-width: $PHONE_CRITERIA) {
  .user-about-container {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: vw-p(31px);

    &__user-img {
      margin-bottom: 0;
      // margin-right: vw-p(32px);
      width: vw-p(97px);
      height: vw-p(97px);
    }

    &__user-name {
      max-width: vw-p(97px);

      margin-bottom: vw-p(12px);
    }

    .user-about-icon-list {
      margin-bottom: vw-p(10px);

      max-width: vw-p(97px);
      &__item {
        max-width: vw-p(49px);
        margin-right: 0;

        font-size: vw-p(12px);
      }

      &__tracks-img,
      &__follower-img {
        width: vw-p(20px);
        height: vw-p(20px);
      }
    }

    &__tracks,
    &__follower {
      font-size: vw-p(12px);
    }

    &__follow-btn {
      width: vw-p(97px);
      height: vw-p(28px);

      font-size: vw-p(12px);
    }
  }
}
