html,
body {
  background-color: $MAIN_BLACK;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }
}
