@import "./utils";

// colors
$MAIN_BLACK: #0b0b0b;
$BLACK_18B: #18181b;
$BLACK_17: #171717;
$BORDER_COLOR: #232323;

// loyout
$MAIN_GRID_WIDTH: 68.75%;

$RIGHT_ASIDE_WIDTH: vw(300px);
$TOP_BAR_HEIGHT: vw(119px);
$LAYOUT_LEFT_PADDING: vw(325px);
