.signin-dimmer,
.signup-dimmer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $DIMMBER_BACK;
  background-size: cover;
  z-index: 200;
  overflow: hidden;
  .modal-box {
    height: vw(45px);
    border-radius: vw(4px);
    width: vw(446px);
  }
  input {
    text-indent: 0.8rem;
    border: 1px solid $BLACK_00;
  }
  .modal-container {
    width: vw(541px);
    height: vw(652px);
    position: relative;
    z-index: 201;
    background: $WHITE_FF;
    border-radius: 1.1vw;
    box-shadow: vw(14px) vw(23px) 11px rgba(0, 0, 0, 0.25);
    &__continue-btn {
      margin-bottom: 0vw;
      background: #1472ff;
    }
  }
}
