.signin-dimmer,
.signup-dimmer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $DIMMBER_BACK;
  background-size: cover;
  z-index: 200;
  overflow: hidden;
  .modal-box {
    height: vw(45px);
    border-radius: 4px;
    width: vw(446px);
  }
  input {
    text-indent: 0.8rem;
    border: 1px solid $BLACK_00;
  }
  .modal-container {
    width: vw(541px);
    height: vw(652px);
    position: relative;
    z-index: 201;
    background: $WHITE_FF;
    border-radius: 12px;
    box-shadow: vw(14px) vw(23px) 11px rgba(0, 0, 0, 0.25);
    &__continue-btn {
      margin-bottom: 0;
      background: #1472ff;
    }
  }
}

@media screen and (max-width: $TABLET_CRITERIA) {
  .signin-dimmer,
  .signup-dimmer {
    .modal-box {
      height: vw-t(45px);
      width: vw-t(342px);
    }
    .modal-container {
      width: vw-t(415px);
      height: vw-t(652px);
    }
  }
}

@media screen and (max-width: $PHONE_CRITERIA) {
  .signin-dimmer,
  .signup-dimmer {
    .modal-box {
      height: vw-p(35px);
      width: vw-p(255px);
    }
    .modal-container {
      width: vw-p(306px);
      height: vw-p(508px);
    }
  }
}
