@import url("../Modal.scss");
.signup-dimmer {
  .social-modal-container {
    width: vw(541px);
    height: vw(491px);
    padding: vw(46px) vw(46px);
    &__signup-title {
      margin-bottom: vw(13px);
    }
    &__sub-title {
      color: $GRAY_96;
      margin-bottom: vw(46px);
    }
    &__id-input {
      margin-bottom: vw(43px);
    }
    &__name-input {
      margin-bottom: vw(18px);
    }
    &__email-input {
      margin-bottom: vw(50px);
    }
  }
}

@media screen and (max-width: 764px) {
  .signup-dimmer {
    .social-modal-container {
      width: vw-t(415px);
      height: vw-t(487px);
      padding: vw-t(45px) vw-t(27px);
      .modal-box {
        width: vw-t(361px);
      }
      &__signup-title {
        margin-bottom: vw-t(13px);
      }
      &__sub-title {
        margin-bottom: vw-t(45px);
      }
      &__id-input {
        margin-bottom: vw-t(43px);
      }
      &__name-input {
        margin-bottom: vw-t(18px);
      }
      &__email-input {
        margin-bottom: vw-t(50px);
      }
    }
  }
}

@media screen and (max-width: 391px) {
  .signup-dimmer {
    .social-modal-container {
      width: vw-p(306px);
      height: vw-p(392px);
      padding: vw-p(52px) vw-p(17px);
      .modal-box {
        width: vw-p(272px);
      }
      &__signup-title {
        margin-bottom: vw-p(13px);
        font-size: vw-p(21px);
      }
      &__sub-title {
        margin-bottom: vw-p(34px);
      }
      &__id-input {
        margin-bottom: vw-p(33px);
      }
      &__name-input {
        margin-bottom: vw-p(14px);
      }
      &__email-input {
        margin-bottom: vw-p(38px);
      }
    }
  }
}
