@import url("../Modal.scss");
.signup-dimmer {
  .social-modal-container {
    width: vw(541px);
    height: vw(491px);
    padding: vw(46px) vw(46px);
    &__signup-title {
      margin-bottom: vw(13px);
    }
    &__sub-title {
      color: $GRAY_96;
      margin-bottom: vw(46px);
    }
    &__id-input {
      margin-bottom: vw(43px);
    }
    &__name-input {
      margin-bottom: vw(18px);
    }
    &__email-input {
      margin-bottom: vw(50px);
    }
  }
}
