.recent-play-list-item {
  border-radius: vw(10px);
  background-color: #000;

  height: 62px;
  padding: 6px vw(13.33px);

  .album-img {
    width: vw(49px);
    border-radius: 50%;
    margin-right: vw(20.55px);
  }

  & + .recent-play-list-item {
    margin-top: 6px;
  }
}
